.clock {
    align-items: center; //text vertically
    background-color: $clock-bg-color;
    border: 2px solid $clock-border-color;

    // Making circle
    border-radius: 50%; //perfect circle
    display: flex; // flex box - centering/aligning a grid. centers clock text
    height: 14rem;
    justify-content: center;
    margin: 4rem auto;
    width: 14rem;
}

.clock-text {
    color: $clock-text-color;
    font-size: 2.25rem;
    font-weight: 300;
}
